
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;        
    margin: 0;
    padding: 40px 20px;               
    display: flex;
    justify-content: center;          
}


form {
    background-color: #d693e7;        
    padding: 30px;                    
    border-radius: 8px;               
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    max-width: 450px;                 
    width: 100%;                      
}


label {
    display: block;                   
    margin-bottom: 6px;               
    font-weight: bold;                
    font-size: 14px;
    color: #333333;                   
}

p {
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 8px;
}


input[type="text"],
input[type="number"],
select {
    width: 100%;                      
    padding: 10px;                    
    margin-bottom: 18px;              
    border: 1px solid #cccccc;        
    border-radius: 4px;               
    box-sizing: border-box;           
    font-size: 14px;
    height: 40px;
}

input:valid {
    border: 2px solid rgb(6, 189, 6);
    background: #e8f5e9 url("https://img.icons8.com/color/48/checked--v1.png") no-repeat 10px center / 20px 20px;
    padding-left: 40px !important; /* Fuerza a mantener el espacio para el texto */
}

input:invalid {
    border: 2px solid red;
    background: #ffebee url("https://img.icons8.com/color/48/cancel--v1.png") no-repeat 10px center / 20px 20px;
    padding-left: 40px !important; /* Fuerza a mantener el espacio para el texto */
}

.error {
    color: red;
}

.validado {
    color: green;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;                
    vertical-align: middle;           
    cursor: pointer;
}

.terminos-container {
    margin-top: 20px;
    margin-bottom: 25px;
}

button[type="submit"] {
    width: 100%;                      
    background-color: #ec14bd;        
    color: #ffffff;                   
    padding: 12px;
    border: none;                     
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;                
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #ec14bd;         
}